
<br> <br> <br> <br> <br> <br> <br> <br> 



<h1>Cadastro de Cliente</h1>
<form action="/teste/insertteste" method="POST" class="form">
<div class="form-control">
    <div class="input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping">@</span>
  <input type="text" name="nome" class="form-control" placeholder="Insira Seu Nome" aria-label="nome" aria-describedby="addon-wrapping">
</div>
   <div class="input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping">@</span>
  <input type="text" name="email" class="form-control" placeholder="Insira Seu Email" aria-label="nome" aria-describedby="addon-wrapping">
</div>
<div class="input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping">@</span>
  <input type="password" name="senha" class="form-control" placeholder=" Sua Senha" aria-label="nome" aria-describedby="addon-wrapping">
</div>
</div> <br> 


    <button type="submit" class="btn btn-outline-primary">Cadastrar</button> <br>

</form>